aes==1.0.0
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
cipher==0.1
crypto==1.4.1
Django==3.1.7
idna==2.10
mysqlclient==2.0.3
Naked==0.1.31
Pillow==8.1.2
pycryptodome==3.10.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
sqlparse==0.4.1
urllib3==1.26.4
